
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-label="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false" name="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" class="navbar-brand">Employee</a>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar nav">
      <li class="nav-item">Dashboard</li>
      <!-- <li class="nav-item"></li> -->
    </ul>
  </div>
</nav>
{% endblock %}
